<h1>休業日管理</h1>
<table>
	
	<thead>
		<tr>
			<td colspan="15">会社休業日</td>
			<td colspan="2"></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<%= form_for @company_holiday do |f| %>
			<td colspan="15"><%= f.label :会社休業日 %><%= f.date_field :holiday %></td>
			<td colspan="2"><%= f.submit "登録" %></td>
			<% end %>
		</tr>
		<tr>
			<td colspan="15">会社休業日</td>
			<td colspan="2"></td>
		</tr>
		
		<% @company_holidays.each do |company_holiday| %>
		<tr>
	    	<td colspan="15"><%= text_field :company_holiday, :holiday, :value => company_holiday.holiday %></td>
	    	<td colspan="2"><input type="button" value="更新" onclick="clickBtn3()"></td>
			  <td colspan="2"><input type="button" value="削除" onclick="clickBtn3()"></td>
    </tr>
		<% end %>
		
		<script>
		function clickBtn3(){
			
			if (document.getElementById("b3").readOnly === true){
				// readonly属性を削除
				document.getElementById("b3").removeAttribute("readOnly");
				document.getElementById("b3").style.background = "white";
				document.getElementById("b3").style.color = "black";
			}else{
				// readonly属性を設定
				document.getElementById("b3").setAttribute("readOnly", true);
				document.getElementById("b3").style.background = 'rgb(235,235,228)';
				document.getElementById("b3").style.color = 'rgb(255,255,255)';
			}
		}
		</script>
		
	</tbody>
</table>




