<h1>ユーザー管理</h1> 
<table>
	<thead>
		<tr>
		    <td colspan="2">CODE</td>
			<td colspan="8">部署</td>
			<td colspan="2">役職</td>
			<td colspan="8">氏名</td>
			<td colspan="8">パスワード</td>
			<td colspan="2"></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<%= form_for @user do |f| %>
				<td colspan="2"><%= f.label :code %><%= f.text_field :code %></td>
				<td colspan="8"><%= f.label :section_id %><%= f.collection_select :section_id, Section.all, :id, :name, include_blank: "選択して下さい" %></td>
				<td colspan="2"><%= f.label :position_id %><%= f.collection_select :position_id, Position.all, :id, :name, include_blank: "選択して下さい" %></td>
				<td colspan="8"><%= f.label :name %><%= f.text_field :name %></td>
				<td colspan="8"><%= f.label :password %><%= f.password_field :password %></td>
				<td colspan="2"><%= f.submit "登録" %></td>
			<% end %>
		</tr>
		
		<tr>
		  <td colspan="2">CODE</td>
			<td colspan="8">部署</td>
			<td colspan="2">役職</td>
			<td colspan="8">氏名</td>
			<td colspan="8">パスワード</td>
			<td colspan="2">　　</td>　　　　　　　<!--文字の数のスペースあけた -->
			<td colspan="5">　　　　　　　</td>　　<!--文字の数のスペースあけた -->
			<td colspan="2">　　</td>　　　　　　　<!--文字の数のスペースあけた -->
		</tr>
		
		
		<% @users.each do |user| %> 
		  <%= form_for user, url: user_path(id: user.id) do |f| %>
			  <tr>
			    <td colspan="2">
			    	<%= f.text_field :code, :id => "usercode" + user.id.to_s, :value => user.code, :readOnly => true %>
			    </td>
			    <td colspan="8">
			    	<%=  f.collection_select :section_id, Section.all, :id, :name, {selected: user.section.id}, {:id => "usersection"+ user.id.to_s, disabled: true} %>
			    </td>
			    <td colspan="2">
			    	<%=  f.collection_select :position_id, Position.all, :id, :name, {selected: user.position.id}, {:id => "userposition" + user.id.to_s, disabled: true} %>
			    </td>
			    <td colspan="8">
			    	<%= f.text_field :name, :id => "username" + user.id.to_s, :value => user.name, :readOnly => true %>
			    </td>
			    <td colspan="8">
			    	<%= f.password_field :password, :id => "userpw" + user.id.to_s, :value => user.password, :readOnly => true, :style => "border: none" %>
			    </td>
			    <td colspan="2">
			    	<%= button_tag '編集', type: "button", class: "edit_button", id: "edit_button#{user.id}", data: {id: user.id} %>
			    </td>
			    <td colspan="5"> 
			        <%= f.submit '更新', :name => 'update', class: "update_button", id: "update_button#{user.id}", disabled: true, data: {id: user.id} %>
			        <%= button_tag 'キャンセル',  type: "button", class: "updatecancel_button", id: "updatecancel_button#{user.id}", disabled: true, data: {id: user.id} %>
					</td>
					<td colspan="2">
					    <%= f.submit '削除', :name => 'delete', class: "delete_button", id: "delete_button#{user.id}", data: {id: user.id} %>
					</td>
		  	</tr>
		  <% end %>
		<% end %>
		
		
		<script>
	  
	  $('.edit_button').on('click', function(){
            var click =  $(this).data('id');
            var code_id = "usercode"+click;
            var section_id = "usersection"+click
            var position_id = "userposition"+click;
            var name_id = "username"+click;
            var pw_id = "userpw"+click;
            var edit_button_id = "edit_button"+click;
            var update_button_id = "update_button"+click;
            var updatecancel_button_id = "updatecancel_button"+click;
            var delete_button_id = "delete_button"+click;
            console.log(code_id);
            console.log(edit_button_id);
            console.log(update_button_id);
            console.log(updatecancel_button_id);
            console.log(delete_button_id);
            console.log(section_id);
            console.log(position_id);
            console.log(name_id);
            console.log(pw_id);
						
								removereadonly(code_id);
								removedisabled(section_id);
								removedisabled(position_id);
								removereadonly(name_id);
								removereadonly(pw_id);
								setdisabled(edit_button_id);
								removedisabled(update_button_id);
								removedisabled(updatecancel_button_id);
								setdisabled(delete_button_id);
					
    });
    
    $('.updatecancel_button').on('click', function(){
            var click =  $(this).data('id');
            var code_id = "usercode"+click;
            var section_id = "usersection"+click
            var position_id = "userposition"+click;
            var name_id = "username"+click;
            var pw_id = "userpw"+click;
            var edit_button_id = "edit_button"+click;
            var update_button_id = "update_button"+click;
            var updatecancel_button_id = "updatecancel_button"+click;
            var delete_button_id = "delete_button"+click;
            console.log(code_id);
            console.log(edit_button_id);
            console.log(update_button_id);
            console.log(updatecancel_button_id);
            console.log(delete_button_id);
            console.log(section_id);
            console.log(position_id);
            console.log(name_id);
            console.log(pw_id);
						
							
								setreadonly(code_id);  //'.edit_button').on('click'の挙動の逆
								setdisabled(section_id);
								setdisabled(position_id);
								setreadonly(name_id);
								setreadonly(pw_id);
								removedisabled(edit_button_id);
								setdisabled(update_button_id);
								setdisabled(updatecancel_button_id);
								removedisabled(delete_button_id);
					
    });
    
    function setreadonly(selecter_id) {
	    					document.getElementById(selecter_id).setAttribute("readOnly", true);
								document.getElementById(selecter_id).style.background = "White";
								document.getElementById(selecter_id).style.color = "black";	
    }
    function removereadonly(selecter_id) {
	    					document.getElementById(selecter_id).removeAttribute("readOnly");
								document.getElementById(selecter_id).style.background = "#EEEEEE";
								document.getElementById(selecter_id).style.color = "black";
    }
    function setdisabled(selecter_id) {
	    					document.getElementById(selecter_id).setAttribute("disabled", true);
								document.getElementById(selecter_id).style.background = "White";
								document.getElementById(selecter_id).style.color = "black";	
    }
    function removedisabled(selecter_id) {
	    					document.getElementById(selecter_id).removeAttribute("disabled");
								document.getElementById(selecter_id).style.background = "#EEEEEE";
								document.getElementById(selecter_id).style.color = "black";
    }
    
		</script>
		
	</tbody>
</table>