<!DOCTYPE html>
<html>
  <head>
    <title>Oneoklook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
  
    <!--------メニューバー-------->
    <div class="btn">
      <button class="btn__menu" type="button">
        <span class="btn__text">Menu</span>
      </button>
    </div>

    <nav class="p-global-nav">
      <ul>
        <li><%= link_to 'ユーザー管理', new_user_path %></li>
        <li><%= link_to '部署管理', new_section_path %></li>
        <li><%= link_to '役職管理', new_position_path %></li>
        <li><%= link_to '休業日管理', new_company_holiday_path %></li>
        <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
      </ul>
    </nav>
    <!--------メニューバーここまで-------->

    <%= yield %>

    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
      
      $('.btn').on('click', function(){
  	    $('.btn__menu').toggleClass('active');
  	    $('.p-global-nav').toggleClass('active');
      });
    </script>

  </body>
</html>
